window {
  background-color: rgba(62, 66, 80, 0.548);
  color: #eeeeee;
  border-radius: 30px;
}

/* search entry */
entry {
  background-color: rgba(37, 25, 80, 0.473);
}

button,
image {
  background: none;
  border: none;
}

button:hover {
  background-color: rgba(29, 42, 65, 0.233);
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.692);
}

/* in case you wanted to give category buttons a different look */
#category-button {
  margin: 0 10px 0 10px;
}

#pinned-box {
  padding-bottom: 5px;
  border-bottom: 1px dotted gray;
}

#files-box {
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 15px;
  margin-top: 200px;
}

/* math operation result label */
#math-label {
  font-weight: bold;
  font-size: 16px;
}
