// Rofi colors for Piro

* {
    font: "JetBrainsMono NF Bold 9";
    background: #1a1b26;
    bg-alt: #222330;
    background-alt: #1a1b26E0;
    foreground: #c0caf5;
    selected: #61A3B1;
    active: #8fcc4c;
    urgent: #f7768e;

    img-background: url("~/.config/bspwm/rices/piro/rofi.webp", width);
}
