@define-color bg    #1a1b26;
@define-color fg    #D1D4E6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;
@define-color brgray rgba(128, 128, 128, 0.4);

* {
  font-family: "JetBrainsMono Nerd Font", monospace, "font-awesome";
  /*font-size: 14px;*/
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#window {
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border-color: @cyn;
  border: 0px solid @brblk;
  transition: none;
  font-size: 14px;
  font-weight: bold;
  color: @white;
  background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
  color: #4d4d4d;
  background: #e6e6e6;
}

#workspaces {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @cyn;
  background: @bg;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 8px;
  margin-bottom: 0;
}

#workspaces button.focused {
  color: @cyn;
}

#workspaces button:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 -3px #ffffff inset;
  background: @brgray;
  text-shadow: inherit;
}

#workspaces button.active {
  color: @cyn;
  border-bottom: 3px solid @mag;
}
#workspaces button.empty {
  color: @white;
}
#workspaces button.empty.active {
  color: @cyn;
  border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
  background-color: @red;
}

#network {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
  border-radius: 16px 0 0 16px; /* top-left, top-right, bottom-right, bottom-left */
  transition: none;
  color: @blk;
  background: @mag;
}
#custom-vpn {
  margin-top: 4px;
  margin-left: -2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0;
  border-radius: 0 16px 16px 0;
  /* top-left, top-right, bottom-right, bottom-left */
  transition: none;
  border: 0;
  color: @blk;
  background: @mag;
}
#bluetooth {
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  border: 0;
  transition: none;
  color: @blk;
  background: @mag;
}

#backlight {
  margin-top: 0px;
  padding-left: 4px;
  padding-right: 8px;
  margin-bottom: 0;
  border-radius: 0 16px 16px 0; /* top-left, top-right, bottom-right, bottom-left */
  transition: none;
  color: @blk;
  background: @cyn;
}
#pulseaudio {
  color: @blk;
  background: @cyn;
  opacity: 1;
  padding-left: 4px;
  padding-right: 4px;
}
#expand1 {
  margin-top: 4px;
  color: #6ea4c5;
  background: @cyn;
}
#expand2 {
  margin-top: 4px;
  color: #6ea4c5;
  background: @cyn;
  border-radius: 0 16px 16px 0; /* top-left, top-right, bottom-right, bottom-left */
}
#backlight-slider slider,
#pulseaudio-slider slider {
  background: @blu;
  color: @blk;
  box-shadow: none;
  margin-right: 7px;
  border: 1px solid @brblk;
  border-radius: 8px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border: 1px solid @brblk;
  border-radius: 8px;
  background: @blu;
  color: @cyn;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background: @blu;
  color: @cyn;
}

#battery.charging,
#battery.plugged {
  color: #520522;
}
#battery.critical:not(.charging) {
  color: @red;
}
#battery {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 4px;
  border-radius: 16px 0px 0 16px; /* top-left, top-right, bottom-right, bottom-left */
  transition: none;
  color: @blk;
  background: @cyn;
}

#battery.bat2 {
  padding-right: 4px;
  margin-left: 0px;
  padding-left: 2px;
  border-radius: 0px 0px 0px 0px;
}

#temperature {
  margin-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0;
  transition: none;
  color: @blk;
  background: @grn;
}

#cpu {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 16px 0 0 16px; /* top-left, top-right, bottom-right, bottom-left */
  margin-bottom: 0;
  transition: none;
  color: @blk;
  background: @grn;
}

#memory {
  margin-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 0 16px 16px 0; /* top-left, top-right, bottom-right, bottom-left */
  margin-bottom: 0;
  transition: none;
  color: @blk;
  background: @grn;
}

#clock {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 8px;
  margin-bottom: 0;
  border-radius: 16px 0px 0px 16px; /* top-left, top-right, bottom-right, bottom-left */
  border-color: @cyn;
  border: 1px solid @brblk;
  font-size: 16px;
  transition: none;
  color: @fg;
  background: @bg;
}
#custom-weather {
  margin-top: 4px;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
  border-radius: 0 16px 16px 0; /* top-left, top-right, bottom-right, bottom-left */
  font-size: 14px;
  border-color: @cyn;
  border: 1px solid @brblk;
  transition: none;
  color: @fg;
  background: @bg;
}
#custom-multiscript {
  margin-top: 4px;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
  border-radius: 0 16px 16px 0;
  /* top-left, top-right, bottom-right, bottom-left */
  font-size: 14px;
  border-color: @cyn;
  border: 1px solid @brblk;
  transition: none;
  color: @fg;
  background: @bg;
}

#custom-pc {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  border-radius: 16px;
  background: @grn;
  color: @blk;
  transition: none;
}



#tray {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 16px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  transition: none;
}

#custom-launcher {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  border-radius: 16px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  transition: none;
}

#custom-launcher:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 -3px #ffffff inset;
  background: @brgray;
  text-shadow: inherit;
}

#custom-updates {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  border-radius: 16px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  transition: none;
}

#custom-updates:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 -3px #ffffff inset;
  background: @brgray;
  text-shadow: inherit;
}

#custom-gmail {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  border-radius: 16px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  transition: none;
}

#custom-gmail:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 -3px #ffffff inset;
  background: @brgray;
  text-shadow: inherit;
}
/* Style for launchers */

#custom-expand {
  min-width: 25px;
  color: #a1bdce;
  font-size: 16px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5;
}

#custom-power {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  border-radius: 16px;
  border-color: @cyn;
  border: 1px solid @brblk;
  background: @bg;
  color: @fg;
  transition: none;
}

#custom-power:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 -3px #ffffff inset;
  background: @brgray;
  text-shadow: inherit;
}

#custom-notification {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 12px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 16px;
  background: @blu;
  color: @blk;
  transition: none;
}
